.time {
    text-align: center;
    padding: 32px 32px 80px;
}

.time .conhecedoras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.time h3 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
}

.time h3 span {
    position: absolute;
    width: 32px;
    height: 4px;
    bottom: 0;
    left: 50%;
    margin-left: -16px;
}